.ui-act {
    display: flex;
    flex-direction: column;
    grid-gap: var(--grid-gap);
}

.ui-act .ui-list .ui-item {
    position: relative;
    opacity: .45;
    cursor: pointer;
}

.ui-act .ui-list .ui-item.checked {
    opacity: 1;
}

.ui-act .ui-list .ui-item.checked::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background: #3F8FA1;
    border-radius: 8px;
    z-index: var(--z-primary);
    opacity: 7%;
}