.ui-offer {
    position: relative;
    background: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .075);
    height: 136px;
    max-width: 228px;
    overflow: hidden;
}

.ui-offer.stretch {
    max-width: none;
}

.ui-offer .hub {
    position: absolute;
    left: 15px;
    top: 0;
    display: flex;
    width: calc(100% - 30px);
    height: 4px;
    border-radius: 0 0 20px 20px;
    opacity: .75;
}

.ui-offer .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ui-offer .title img {
    width: 42px;
    height: 42px;
    border-radius: 10px;
}

.ui-offer .title h5 {
    margin-left: 10px;
    font-size: .875rem;
}

.ui-offer .content {
    display: flex;
    flex-direction: column;
}

.ui-offer .content .title {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 15px;
    color: #333;
    margin: 0;
}

.ui-offer .content .message {
    font-size: .875rem;
    font-weight: 500;
    margin-top: 15px;
    color: gray;
    margin: 5px 0 0 0;
}